.p-fv {
	background-color: $color-main;
	color: $color-base;

	&__content {
		display: flex;
		padding: 60px 0;

		figcaption {
			flex: 2;
		}
		h1 {
			font-size: 5.6rem;
			line-height: 1.2;
			margin-bottom: 40px;
			.text-100 {
				font-size: 10rem;
			}
			.text-96 {
				font-size: 9.6rem;
			}
			.text-80 {
				font-size: 8rem;
			}
		}
		p {
			font-size: 2.4rem;
		}
		img {
			flex: 1;
		}
	}
}
