@use "./../../foundation/variable" as *;

.p-cv {
	&__content {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
	}

	.c-button {
		display: block;
		margin: 10px auto;

		font-size: 2rem;
		border: 5px solid $color-accent;
	}
	@include breakpoint(tablet) {
	}
	@include breakpoint(pc) {
		.c-button {
			font-size: 3.2rem;
		}
	}
}
