@use "./../../foundation/variable" as *;

.p-fv {
	background-color: $color-main;
	color: $color-base;
	// max-height: calc(100vh - 90px);

	&__content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		align-items: center;
		gap: 18px;
		padding: 40px 0;
		max-width: 100%;
		font-weight: bold;

		figcaption {
			flex: 2;
		}
		h1 {
			font-size: 2.8rem;
			line-height: 1.2;
			margin-bottom: 40px;
			.text-100 {
				font-size: 5rem;
			}
			.text-96 {
				font-size: 4.8rem;
			}
			.text-80 {
				font-size: 4rem;
			}
		}
		p {
			font-size: 2.2rem;
		}
		img {
			flex: 1;
			width: 250px;
			box-shadow: -6px 6px 10px -2px #555, 0 0 3px #555;
			border-radius: 3px;
		}
	}
	@include breakpoint(tablet) {
	}
	@include breakpoint(pc) {
		&__content {
			flex-direction: row;
			padding: 60px 0;
			figcaption {
				flex: 2;
			}
			h1 {
				font-size: 5.6rem;
				.text-100 {
					font-size: 10rem;
				}
				.text-96 {
					font-size: 9.6rem;
				}
				.text-80 {
					font-size: 8rem;
				}
			}
			p {
				font-size: 2.4rem;
			}
		}
	}
}
