/* base
--------------------------- */
*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: #0066c0;
  text-decoration: underline;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}
a:hover img {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s;
}

.l-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.l-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__logo {
  display: inline-block;
  max-width: 40%;
}

.l-footer {
  background-color: #333;
  color: #fff;
}
.l-footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 0;
}
.l-footer__lists {
  display: flex;
  gap: 10px;
  padding: 0 0 30px;
}
.l-footer__lists a {
  color: #fff;
}

.c-button {
  display: inline-block;
  padding: 3px 20px;
  color: #fff;
  background-color: #f99f48;
  border: solid 2px #f99f48;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
}
.c-button:hover {
  color: #f99f48;
  background-color: #fff;
}

.c-inner {
  padding: 10px 30px;
  max-width: 1220px;
  margin: 0 auto;
}

.c-section {
  padding: 50px 0 90px;
  background-color: #f6fff7;
}
.c-section:nth-of-type(odd) {
  background-color: #fff;
}
.c-section__title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 38px;
}

.p-fv {
  background-color: #1b7c26;
  color: #fff;
}
.p-fv__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: center;
  gap: 18px;
  padding: 40px 0;
  max-width: 100%;
  font-weight: bold;
}
.p-fv__content figcaption {
  flex: 2;
}
.p-fv__content h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 40px;
}
.p-fv__content h1 .text-100 {
  font-size: 5rem;
}
.p-fv__content h1 .text-96 {
  font-size: 4.8rem;
}
.p-fv__content h1 .text-80 {
  font-size: 4rem;
}
.p-fv__content p {
  font-size: 2.2rem;
}
.p-fv__content img {
  flex: 1;
  width: 250px;
  box-shadow: -6px 6px 10px -2px #555, 0 0 3px #555;
  border-radius: 3px;
}
@media (min-width: 750px) {
  .p-fv__content {
    flex-direction: row;
    padding: 60px 0;
  }
  .p-fv__content figcaption {
    flex: 2;
  }
  .p-fv__content h1 {
    font-size: 5.6rem;
  }
  .p-fv__content h1 .text-100 {
    font-size: 10rem;
  }
  .p-fv__content h1 .text-96 {
    font-size: 9.6rem;
  }
  .p-fv__content h1 .text-80 {
    font-size: 8rem;
  }
  .p-fv__content p {
    font-size: 2.4rem;
  }
}

.p-theme__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
}
.p-theme__content img {
  width: 420px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-theme__lists {
  font-size: 2rem;
}
.p-theme__lists li {
  position: relative;
  padding-left: 24px;
  margin: 10px;
}
.p-theme__lists li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  left: 0;
  position: absolute;
}
.p-solution__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 10px;
}
.p-solution__list {
  text-align: center;
  font-weight: bold;
  background-color: #efefef;
  border-radius: 4px;
}
.p-solution__list img {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-solution__list p {
  padding: 10px 16px;
}

.p-faq__content {
  max-width: 700px;
  margin: 0 auto;
}
.p-faq__details {
  margin-bottom: 5px;
}
.p-faq__summary {
  position: relative;
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  background-color: #a0daa8;
  cursor: pointer;
  transition: 0.2s;
}
.p-faq__summary:hover {
  background-color: #6ebe79;
}
.p-faq__summary::-webkit-details-marker {
  display: none;
}
.p-faq__summary:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  font-weight: bold;
  font-size: 20px;
  color: #1b7c26;
  margin: auto;
  top: 16%;
  right: 3%;
  transition: 0.4s;
}
.p-faq__answer {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
.p-faq__details[open] .p-faq__summary {
  background-color: #6ebe79;
}
.p-faq__details[open] .p-faq__summary:after {
  transform: rotate(135deg);
}
.p-faq__details[open] .p-faq__answer {
  -webkit-animation: fadeIn 0.5s ease;
          animation: fadeIn 0.5s ease;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.p-cv__content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.p-cv .c-button {
  display: block;
  margin: 10px auto;
  font-size: 2rem;
  border: 5px solid #f99f48;
}
@media (min-width: 750px) {
  .p-cv .c-button {
    font-size: 3.2rem;
  }
}

.u-inline-block {
  display: inline-block;
}

/*--------------------------------------*
 * foundation
 *--------------------------------------*/
/*--------------------------------------*
 * layout
 *--------------------------------------*/
/*--------------------------------------*
 * object
 *--------------------------------------*/
/*-------------------
 * component
 -------------------*/
/*-------------------
 * project
 -------------------*/
/*-------------------
 * object
 -------------------*/
/*# sourceMappingURL=style.css.map */