@use "./../../foundation/variable" as *;

.c-button {
	display: inline-block;
	padding: 3px 20px;
	color: $color-base;
	background-color: $color-accent;
	border: solid 2px $color-accent;
	border-radius: 50px;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color: $color-accent;
		background-color: $color-base;
	}
}
