@use "./../../foundation/variable" as *;

.c-section {
	padding: 50px 0 90px;
	background-color: $color-main-100;
	&:nth-of-type(odd) {
		background-color: $color-base;
	}

	&__title {
		text-align: center;
		font-size: 2.8rem;
		font-weight: bold;
		margin-bottom: 38px;
	}
}
