@use "./../foundation/variable" as v;

.l-footer {
	background-color: v.$color-black;
	color: v.$color-base;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 30px 0;
	}
	&__lists {
		display: flex;
		gap: 10px;
		padding: 0 0 30px;
		a {
			color: v.$color-base;
		}
	}
}
